page {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #f5f5f5;
  font-size: 28px;
}

view, text, button, input, image {
  box-sizing: border-box;
}
